* {
  box-sizing: border-box;
  list-style: none;
}

#LOGO{
  margin-right: 20px;
  margin-left: 10px;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(59, 59, 59);
  font-family: "Amble LtCn", sans-serif;
  margin: 100px;
}

.page-title {
  font-family: "Amble LtCn", sans-serif;
  font-size: 2rem;
}

.page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 98%;
  box-shadow: 2.5px 2.5px 40px rgb(165, 165, 165);
  background-color: whitesmoke;
  padding: 2rem;
  margin: 0.5rem 0 2rem;

  border-radius: 40px;
}

.itemsCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.itemsList {
  background-color: #c5fad5;
  padding: 25px;
  margin-top: 10px;
  line-height: 34px;
  border-radius: 15px;
  box-shadow: 1px 10px 25px rgb(206, 206, 206);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #c5fad5;
  width: 400px;
  border-radius: 20px;
  box-shadow: 1px 10px 25px rgb(206, 206, 206);
}

.h22 {
  font-family: "Amble LtCn", sans-serif;
  font-size: 2rem;
  color: rgb(49, 49, 49);
  text-align: center;

  border-radius: 15px 15px 0px 0px;
}

.arrayItems {
  background-color: #aa96da;
  margin-top: 20px;
  align-content: center;
  width: 220;
  padding: 20px;
  border-radius: 51px 15px 15px 0px;
  cursor: pointer;
}

#nav {
  font-family: "Amble LtCn", sans-serif;
  background-color: #b2e2f8;
  color: white;
  box-shadow: 1px 10px 25px rgb(236, 236, 236);
}

#nav li a {
  color: black;
}

.aboutimg1 {
  background-image: url(https://images.pexels.com/photos/4651196/pexels-photo-4651196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  color: #fff;
  width: 400px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position-x: -47px;
  margin: 20px;
  box-shadow: 1px 10px 25px rgb(236, 236, 236);
}
.aboutimg2 {
  background-image: url(https://images.pexels.com/photos/8175340/pexels-photo-8175340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  color: #fff;
  width: 400px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 1px 10px 25px rgb(236, 236, 236);
  margin: 20px;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #c5fad5;
  opacity: 0;
  position: absolute;
  transition: 0.5s ease;
  border-radius: 20px;
}

.aboutt {
  color: white;
  font-size: 60px;
  z-index: 2;
  font-family: "Amble LtCn", sans-serif;
  font-style: italic;
}

.aboutimg1:hover .color-overlay {
  opacity: 100%;
}
.aboutimg2:hover .color-overlay {
  opacity: 100%;
}
.aboutt:hover {
  color: rgb(66, 66, 66);
}

.cont1 {
  display: flex;
  margin: 50px;
}
