*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  list-style: none;
  
}

.navName{
  margin-left: 70px;
}
.page-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(59, 59, 59);
  font-family: "lora", serif;
  margin: 100px;
}

.page-title {
  font-family: "lora", serif;
  font-size: 2rem;
}

.page-box {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 98%;
    box-shadow: 2.5px 2.5px 40px rgb(165, 165, 165);
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 40px;
  }

  .itemsCont{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .itemsList{
    background-color: #C5FAD5;
    padding: 25px;
    margin-top: 10px;
    line-height: 34px;
    border-radius: 15px;
    box-shadow: 1px 10px 25px rgb(206, 206, 206);
    
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(131, 208, 238);
    width: 400px;
    border-radius: 20px;
    box-shadow: 1px 10px 25px rgb(206, 206, 206);
  }

  .h22{
    font-family: "lora", serif;
  font-size: 2rem;
  color: white;
    text-align: center;
    
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    border-radius: 15px 15px 0px 0px;

  }

  .arrayItems{
    background-color: rgb(131, 208, 238);
    margin-top: 20px;
    align-content: center;
     width:220;
     padding:20px;
     border-radius: 51px 15px 15px 0px;
     cursor: pointer;
  }