.footer_container {
  display                    : flex;
  flex-direction             : row;
  align-items                : center;
  justify-content            : center;
  padding-bottom             : 20px;
  position                   : sticky;
  background-color           : rgba(209, 204, 156, 0.6);
  margin                     : auto;
  margin-bottom              : 3px;
  /* border                  : 1px solid green; */
}

.footer_img {
  width     : 100px;
  top       : 10px;
  height    : auto;
  object-fit: cover;
  position  : absolute;
}

.footer-icons {
  background-color: #191725;
  padding         : 11px;
  padding-bottom  : 15px;
  border-radius   : 30px;
  opacity         : 0.8;
  color           : violet;
  transition      : 0.2s ease-in-out;
}

.footer-icons:hover {
  opacity   : 0.8;
  padding   : 17px;
  color     : khaki;
  transition: 0.2s ease-in-out;
}

.footer-icons-ul {
  list-style   : none;
  position     : relative;
  font-size    : .8rem;
  margin-top   : 130px;
  margin-bottom: 5px;
  display      : flex;
}

.footer-icons-ul>li {
  cursor : pointer;
  padding: 0 4px;
}