.footer_container {
  display: flex;  
  flex-direction: row;
  align-items:stretch;
  color: rgb(199, 211, 33);
  font-family: "lora", serif;
  padding-top:10px;
}

.ftImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}

.ul1, .ul2, .ul3 {
  background-color: #502a148f;
  color: rgb(39, 51, 47);
  list-style: none;
  position: relative;
  margin: 50px 3px; 
  height: fit-content;
  overflow-x: auto;
  text-overflow: ellipsis;
  overflow-x: auto;
  overflow-y: auto;
  font-size: .8rem;
  font-weight: bold;
  font-family: "lora", serif;
  padding: 25px;
  box-shadow: 10px 10px 19px rgb(48, 47, 47);
}
.ul1 {
  max-width: 60%;
}
.ul2 {
  min-width: 30%;
}
.ul3 {
  min-width: 90px;
}
.ul1:hover, .ul2:hover, .ul3:hover {
  color: darkslategrey;
  background-color: rgba(18, 54, 26, 0.39);
}
.ul1 > li, .ul2 > li, .ul3 > li {
  background-color: rgba(189, 182, 182, 0.8);
  padding: 0 4px;
}
.ul1 > li:hover, .ul2 > li:hover, .ul3 > li:hover {
  background-color: rgba(243, 243, 243, 0.9);
  padding: 0 4px;
}