.footer_container {
  display: flex;  
  flex-direction: row;
  align-items:stretch;
  padding-top:3px;
  justify-content: space-between;
}

.ftImg {
  width: 100%;
  min-height: 320px;
  max-height: 380px;
  object-fit: cover;
  position: absolute;
}

.ul1, .ul2{
  
  color: #f8edfe;
  font-family: "Amble LtCn", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 1000;
  opacity: 0.7;
  list-style: none;
  position: relative;
  margin-top: 190px;
  line-height: 20px;
  padding: 10px;
  padding-left: 20px;
  height: auto;
  width: 45%;
  border-radius: 0px 15px 15px 0px;
  font-size: .8rem;
  left: 0px;
  
}


.ul2::before {
  
  position: absolute;
  color: white;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0px 15px 15px 0px;
  background-color: rgb(10, 0, 70);
  z-index: -1;
  transform: scaleX(0.02);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
  /* border: rgba(180, 180, 180, 0.288) 0.3px solid; */
  /*  */
}

.ul2:hover:before,
.ul2:focus::before {
  transform: scaleX(1);
}

.ul3 {
  list-style: none;
  position: relative;
  margin-top: 90px;
  line-height: 40px;
  font-size: .8rem; 
  margin-right: 30px;
  margin-top: 240px;
  display: flex;
  
}

.ul1 {
  max-width: 50%;
}
.ul2 {
  min-width: 20%;
}
.ul3 {
  min-width: 90px;
}
/* .ul1:hover, .ul2:hover{} */


/* .ul1 > li, .ul2 > li, .ul3 > li { */
.ul1 > li, .ul3 > li {
  cursor: pointer;
  padding: 0 4px;
}
.ul1 > li:hover, .ul2 > li:hover, .ul3 > li:hover {
  padding: 0 4px;
}