.recipesSlider_container{
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content:space-between;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 5px; 
    background: linear-gradient(rgba(219, 106, 0, 0.444), rgba(142, 151, 8, 0.2));
    box-shadow: 2.5px 2.5px 80px rgba(255, 200, 79, 0.712);
}

.recipesSlider_container > a:any-link, a:visited {
    text-decoration: none;
    
    
}

.recipesSlider_container > a:hover {
    text-decoration: none;
    color: rgb(110, 17, 0);
    
} 

.recipesSlider_img {
    margin-top: 10px;
    border-radius: 20px;
    width: 75%;
    height: 200px;
    object-fit: cover;
    padding-top:0.1rem;
    cursor:grab;    
}
 a:link{text-decoration: none;}
.recipesSlider_title {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight:bold;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration: inherit;
    direction: inherit;
    text-align:center;

}

.recipesSlider_description{
    /* background-color: rgba(255, 255, 255, 0.623); */
    font-family: "varela Round", sans-serif;
    font-size: 0.6rem;
    font-style: italic;
    color: #444;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 1px 0px;
    padding: 2px;
    text-align:center;
    
}