.single_title_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 90%;
  margin-top: 10px;
  background: linear-gradient(rgba(219, 106, 0, 0.444), rgba(142, 151, 8, 0.2));
  /* box-shadow: 2px 25px 40px rgb(165, 165, 165); */
  box-shadow: 2px 25px 80px rgba(255, 200, 79, 0.712);
  padding: 5px; 
}
.single_title_title {
  margin: 10px;
  text-transform: uppercase;
  text-shadow:blue;
  font-size: 2rem;
  cursor:auto;
}
.single_title_img {
  object-fit: cover;
  width:50%;
  margin-bottom: 0.2rem;
}
.single_title_details {
  padding: .5rem;
}
.single_title_method {
  background-color: darkslategrey; 
  color: white;
  padding: .2rem; 
}
.single_title_method > h5, .single_title_details > h5 {
  background-color: rgba(70, 192, 0, 0.253);
}
.single_title_info {
  font-style: italic;
  font-size: .7rem;
  padding: .2rem;
}
