.single_title_info {
  font-style: italic;
  font-size : 0.7rem;
  color     : black;
  padding   : 0rem;
  margin    : 2px;
}

.single_title_details {
  padding   : 0.5rem;
  text-align: left;
}

.single_title_img {
  display           : flex;
  object-fit        : cover;
  /* object-position: 50% 50%; */
  max-height        : 40vh;
  max-width         : 100%;
  min-width         : 300px;
  padding           : 5px;
  margin            : 10px 0px 0px 5px;
}

.single_title_ingredients {
  padding: 0.6rem;
  color  : rgb(0, 0, 0);
  width  : 50%;
  margin : 0px 0px 5px 5px;
}

.single_title_ingredients>div {
  background: rgba(255, 255, 255, 0.315);
  border    : solid 1px rgba(106, 106, 106, 0.4);
  padding   : 0.6rem;
  text-align: left;
}

.single_title_method {
  margin-top: 10px;
  padding   : 0.6rem;
}

.single_title_method>div {
  color     : rgb(0, 0, 0);
  padding   : 5px;
  margin    : 0px;
  text-align: left;
}

.single_title_method>h5,
.single_title_details>h5 {
  /* background-color: rgba(173, 226, 142, 0.795); */
  padding: 5px;
  margin : 0;
}