.loading_container {
  margin: auto;
  cursor: pointer;
  position: relative; 
  margin-top: 5rem;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  background-color: rgb(255, 203, 89);
  margin-bottom: 120px;
 }
 .loading {
  position: relative;
  width: 100%;
   height: 100%;
   border-radius: 150px;
   border-right: 0.3rem solid rgb(131, 208, 238);
   animation: animate 2s linear infinite;
 }
 @keyframes animate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
 }
 .loading_container > h4 {
  font-family: 'Amble LtCn', sans-serif;
   color: black;
   position: absolute;
   text-align: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   
 }